<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="profile">
  <div class="Tabs-links">
    <a class="Tabs-link Tabs-link_ACTIVE" href="#basic">Основные сведения</a>
    <a class="Tabs-link" href="#transactions">История транзакций</a>
    <a class="Tabs-link" href="#topup">Пополнить счет</a>
  </div>
</div>

<div th:fragment="pay">
  <div class="Tabs-links">
    <a class="Tabs-link" href="#basic">Основные сведения</a>
    <a class="Tabs-link" href="#transactions">История транзакций</a>
    <a class="Tabs-link Tabs-link_ACTIVE" href="#topup">Пополнить счет</a>
  </div>
</div>

</html>