<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Профайл</title>
    <meta name="description" content="Описание страницы"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link href="/favicon.ico" rel="shortcut icon"/>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous"/>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous"/>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous"/>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=45744385"/>
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=45744385"/>
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=45744385"/>
<!--    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>-->
    <script defer src="/assets/js/scripts.min.js?v=45744385"></script>
</head>
<body class="Site">
<header class="Header"
        th:replace="~{fragments/common_header_fragment :: head(status=${status})}"></header>
<div class="Middle">
    <div class="Middle-top">
        <div class="wrap">
            <h1 class="Middle-title">Личный кабинет
            </h1>
        </div>
    </div>
    <div class="wrap">
        <main class="Middle-main">
            <h2 class="Middle-title">Мой профиль</h2>
            <div class="Tabs Tabs_default">
                <div class="Tabs-links">
                    <a class="Tabs-link Tabs-link_ACTIVE" href="#basic">Основные сведения</a>
                    <a class="Tabs-link" href="#transactions">История транзакций</a>
                    <a class="Tabs-link" href="#topup">Пополнить счет</a>
                </div>
                <div class="Tabs-wrap">
                    <div class="Tabs-block" id="basic">
                        <div class="Profile">
                            <form class="form Profile-form" th:object="${registrationForm}" th:action="@{/api/confirmProfile}" action="#" method="post">
                                <div class="row">
                                    <div class="row-block">
                                        <div class="form-group">
                                            <label class="form-label" for="profile-name">Имя</label>
<!--                                            th:value="${currentUser.name}"-->
                                            <input class="profile_input_name" id="profile-name"  type="text" value="Михаил" th:field="*{name}" />
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="profile-mail">E-mail</label>
<!--                                            th:value="${userEmail}"-->
                                            <input class="form-input-profile" id="profile-mail" type="text" value="addr@sait.com" th:field="*{email}"  data-validate="require mail" />
                                            <div class="Profile-btn Profile-btn_confirm">
                                                <button class="btn btn_primary" type="button">Подтвердить</button>
                                            </div>
                                            <input class="profile-input_code" type="text"
                                                   placeholder="Код из письма" data-mask="999 999" data-validate="require key" style="display: none" disabled/>
                                        </div>
<!--                                        <div class="form-group">-->
<!--                                            -->
<!--                                        </div>-->
<!--                                        <div class="form-group form-group_key">-->
<!--                                            -->
<!--                                        </div>-->
                                        <div class="form-group">
                                            <label class="form-label" for="profile-phone">Телефон </label>
<!--                                            th:value="${userPhone}"-->
                                            <input class="form-input-profile" id="profile-phone"  type="text" value="+70000000000" th:field="*{phone}"  data-mask="+7 (999) 999-99-99" data-validate="require"/>
                                            <div class="Profile-btn Profile-btn_confirm">
                                                <button class="btn btn_primary" type="button">Подтвердить</button>
                                            </div>
                                            <input class="profile-input_code"  type="text"
                                                   placeholder="Код из СМС" data-mask="999 999" data-validate="require key" style="display: none" disabled/>
                                        </div>
                                    </div>
                                    <div class="row-block">
<!--                                        <div class="form-group">-->
<!--                                            <label class="form-label" for="password">Пароль</label>-->
<!--                                            <input class="form-input" id="password" name="password" type="password" placeholder="Тут можно изменить пароль"/>-->
<!--                                        </div>-->
<!--                                        <div class="form-group">-->
<!--                                            <label class="form-label" for="passwordReply">Подтверждение пароля</label>-->
<!--                                            <input class="form-input" id="passwordReply" name="passwordReply" type="password" placeholder="Введите пароль повторно"/>-->
<!--                                        </div>-->
                                        <div class="form-group">
                                            <div class="Profile-btn">
                                                <button class="btn btn_danger" type="button">Отменить</button>
                                                <button class="btn btn_primary btn_save_profile" type=submit style="display: none">Сохранить</button>
                                            </div>
                                            <div class="Profile-success" th:text="${changeProfileStatus}"></div>
                                            <div class="Profile-success" th:text="${sendMessageConfirm}"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="Tabs-block" id="transactions">
                        <div class="Transactions">
                            <div class="tableWrap">
                                <table class="table table_noMargin">
                                    <thead>
                                    <tr>
                                        <th>Дата и время</th>
                                        <th>Сумма</th>
                                        <th>Описание</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="trans: ${transactions}">
                                            <td th:text="${#temporals.format(trans.time, 'dd MMMM yyyy hh:mm')}"></td>
                                            <td><span class="Transactions_textSuccess"><strong th:text="${trans.value}">+500 р.</strong></span></td>
                                            <td th:text="${trans.description}">Пополнение счета</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="Transactions-footer Transactions-footer_center">
                                <a class="btn btn_primary Transactions-get" href="#" data-transactionoffset="0"
                                    data-transactionlimit="5" data-transactionsort="asc"
                                    th:attr="data-userId = ${currentUser.id}">
                                    Показать еще</a>
                            </div>
                        </div>
                    </div>
                    <div class="Tabs-block Pay-Block" id="topup">
                        <form action="#" class="form Topup" data-sendHash="34534535" method="post"
                              th:attr="data-senduserid = ${currentUser.id}">
                            <div class="Topup-wrap">
                                <strong class="Topup-title">Введите сумму, на которую хотите пополнить свой счет:</strong>
                                <div class="form-group form-group_row Topup-group">
                                    <input class="form-input" id="sum" name="sum" type="number" required/><span>рублей</span>
                                </div>
                                <div class="form-group">
                                    <div class="Topup-btn">
                                        <button class="btn btn_primary" >Пополнить</button>
                                    </div>
                                </div>
                                <div class="PayStatus" th:text="${payStatus}"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/common_footer_fragment :: footer}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>